{
    "env": {
      "es6": true,
      "browser": true
    },
    "extends": "airbnb",
    "rules": {
      "class-methods-use-this": ["error", {
        "exceptMethods": ["$onInit", "mapStateToThis"]
      }]
    }
  }